@using Hive.Client.Services.Common
@using Hive.Client.Shared.Constants
@inherits LayoutComponentBase

<style>
    .logo {
        width: 6.0625rem;
    }

    .nav-link-container, .nav-link {
        height: 100%;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .nav-link.active {
            color: @HiveColors.Orange;
            border-bottom: solid 2px @HiveColors.Orange;
        }

</style>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <MudAppBar Elevation="0" Dense="true" Style="border-bottom:solid 1px #cdcdcd">
                    <a href=@Routes.Index class="mr-4">
                        <img class="logo" src="images/logo.svg" alt="Hive Logo" />
                    </a>
                    <div class="nav-link-container">
                        <NavLink href="/" class="nav-link">Organizations</NavLink>
                    </div>
                    <MudSpacer />
                    <MudMenu Dense="true" AnchorOrigin="Origin.BottomRight" Direction="Direction.Bottom">
                        <ActivatorContent>
                            <div class="d-flex align-center">
                                <MudButton>
                                    <MudIcon Icon="@Icons.Outlined.Person" />
                                    <MudIcon Icon="@Icons.Outlined.ArrowDropDown" />
                                </MudButton>
                            </div>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem OnClick="@Logout">Sign Out</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </MudAppBar>
                <MudMainContent Class="px-6">
                    <div class="pt-4">
                        @Body
                    </div>
                </MudMainContent>
            </MudLayout>
        </Authorized>
        <Authorizing>
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status"></div>
            </div>
        </Authorizing>
    </AuthorizeView>

</div>
