@page "/login"

@layout LoginLayout

<style>
    .logo {
        width: 9.0625rem;
    }
</style>

<img class="logo my-4" src="images/logo.svg" alt="Hive Logo" />
<div>
    <MudText Typo="Typo.h1">Login</MudText>
    <MudText Typo="Typo.subtitle1">Task Management made easy.</MudText>
</div>


<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="LoginRequest">
    <DataAnnotationsValidator />
    @if (Error != null || !string.IsNullOrEmpty(Error))
    {
        <MudAlert Severity="Severity.Error">@Error</MudAlert>
    }

    <MudTextField InputType="InputType.Email"
                  Label="Email"
                  @bind-Value="LoginRequest.UserName"
                  AutoFocus="true"
                  For="@(() => LoginRequest.UserName)"
                  Variant="Variant.Outlined"
                  Class="mb-4" />

    <MudTextField InputType="InputType.Password"
                  Label="Password"
                  @bind-Value="LoginRequest.Password"
                  For="@(() => LoginRequest.Password)"
                  Variant="Variant.Outlined" />

    <div class="d-flex align-center justify-space-between mb-4">
        <MudCheckBox @bind-Checked="@LoginRequest.RememberMe" Color="Color.Primary" Label="Remember Me"></MudCheckBox>
        <MudText Typo="Typo.body1" Color="@Color.Primary">Forgot Password?</MudText>
    </div>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" DisableElevation="true" FullWidth="true" Class="my-4">Sign in</MudButton>
    <MudText Class="d-flex">
        Don't have an account ? &nbsp;
        <MudLink href="@Routes.Register">
            <MudText Color="@Color.Primary">Sign Up</MudText>
        </MudLink>
    </MudText>
</EditForm>