@page "/register"

@layout RegistrationLayout


<style>
    .logo {
        width: 9.0625rem;
    }
</style>

<img class="logo my-4" src="~/images/logo.svg" alt="Hive Logo" />
<div>
    <MudText Typo="Typo.h1">A little bit about yourself</MudText>
    <MudText Typo="Typo.subtitle1">This will be your profile across our platform.</MudText>
</div>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="RegisterRequest">
    <DataAnnotationsValidator />
    @if (Error != null || !string.IsNullOrEmpty(Error))
    {
        <MudAlert Severity="Severity.Error">@Error</MudAlert>
    }

    <div class="d-flex flex-wrap mb-2">
        <MudTextField Label="First Name"
                      @bind-Value="RegisterRequest.FirstName"
                      For="@(()=>RegisterRequest.FirstName)"
                      Variant="Variant.Outlined"
                      InputType="InputType.Text"
                      Class="pr-4" />
        <MudTextField Label="Last Name"
                      @bind-Value="RegisterRequest.LastName"
                      For="@(()=>RegisterRequest.LastName)"
                      Variant="Variant.Outlined"
                      InputType="InputType.Text"
                      Class="pr-4" />
    </div>
    <MudTextField Label="Email"
                  @bind-Value="RegisterRequest.Email"
                  For="@(()=>RegisterRequest.Email)"
                  Variant="Variant.Outlined"
                  InputType="InputType.Email"
                  Class="pr-4" />
    <MudTextField Label="Password"
                  @bind-Value="RegisterRequest.Password"
                  For="@(()=>RegisterRequest.Password)"
                  Variant="Variant.Outlined"
                  InputType="InputType.Password"
                  Class="pr-4" />
    <MudTextField Label="Confrim Password"
                  @bind-Value="RegisterRequest.PasswordConfirm"
                  For="@(()=>RegisterRequest.PasswordConfirm)"
                  Variant="Variant.Outlined"
                  InputType="InputType.Password"
                  Class="pr-4" />
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               ButtonType="ButtonType.Submit"
               DisableElevation="true"
               FullWidth="true"
               Class="my-4">Next</MudButton>
    <label class="text-danger">@Error</label>
    <MudText Class="d-flex">
        Already have an account ? &nbsp;
        <MudLink Href="login">
            <MudText Color="Color.Primary">Login</MudText>
        </MudLink>
    </MudText>
</EditForm>