@page "/register"
@using System.Text.RegularExpressions
@using Hive.Client.Shared.Constants

@layout RegistrationLayout


<style>
    .logo {
        width: 9.0625rem;
    }
</style>

<img class="logo my-4" src="~/images/logo.svg" alt="Hive Logo" />
<div>
    <MudText Typo="Typo.h1">A little bit about yourself</MudText>
    <MudText Typo="Typo.subtitle1">This will be your profile across our platform.</MudText>
</div>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="RegisterRequest">
    <DataAnnotationsValidator />
    @if (Errors != null)
    {
        <MudAlert Severity="Severity.Error" Class="my-4" NoIcon="true">
            <div class="d-flex">
                <MudIcon Icon="@Icons.Outlined.ErrorOutline" Color="@Color.Error" Class="mr-4"/>
                <MudText Typo="@Typo.subtitle1" Color="@Color.Error">Error</MudText>
            </div>
            <MudList Dense="true" DisableGutters="true">
                @foreach (var err in Errors)
                {
                    <MudListItem Text="@err" />
                }
            </MudList>


        </MudAlert>
    }

    <div class="d-flex flex-wrap mb-2">
        <MudTextField Label="First Name"
                      @bind-Value="RegisterRequest.FirstName"
                      For="@(()=>RegisterRequest.FirstName)"
                      Variant="Variant.Outlined"
                      InputType="InputType.Text"
                      Class="pr-4" />
        <MudTextField Label="Last Name"
                      @bind-Value="RegisterRequest.LastName"
                      For="@(()=>RegisterRequest.LastName)"
                      Variant="Variant.Outlined"
                      InputType="InputType.Text"
                      Class="pr-4" />
    </div>
    <MudTextField Label="Email"
                  @bind-Value="RegisterRequest.Email"
                  For="@(()=>RegisterRequest.Email)"
                  Variant="Variant.Outlined"
                  InputType="InputType.Email"
                  Class="pr-4" />
    <MudTextField Label="Password"
                  @bind-Value="RegisterRequest.Password"
                  For="@(()=>RegisterRequest.Password)"
                  Adornment="Adornment.End"
                  AdornmentIcon="@(ShowPassword ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                  OnAdornmentClick="@TogglePasswordVisibility"
                  Variant="Variant.Outlined"
                  InputType="@(ShowPassword ? InputType.Text : InputType.Password)"
                  Class="pr-4" />

    <MudTextField Label="Confrim Password"
                  @bind-Value="RegisterRequest.PasswordConfirm"
                  For="@(()=>RegisterRequest.PasswordConfirm)"
                  Variant="Variant.Outlined"
                  InputType="InputType.Password"
                  Class="pr-4" />
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               ButtonType="ButtonType.Submit"
               DisableElevation="true"
               FullWidth="true"
               Class="my-4">Next</MudButton>
    <MudText Class="d-flex">
        Already have an account ? &nbsp;
        <MudLink Href="@Routes.Login">
            <MudText Color="Color.Primary">Login</MudText>
        </MudLink>
    </MudText>
</EditForm>