@using Hive.Client.Shared.Constants
@using Hive.Shared.Organizations.QueryViewModels

<style>
    .org-item-card {
        background: #FB8C29;
        background: -webkit-linear-gradient(right, #FB8C29, #FD9437);
        background: -moz-linear-gradient(right, #FB8C29, #FD9437);
        background: linear-gradient(to left, #FB8C29, #FD9437);
        color: white;
        border-radius: 12px;
        transition: all ease-in-out 0.3s;
    }

        .org-item-card:hover {
            background: #F2892C;
            background: -webkit-linear-gradient(right, #F2892C, #FD9437);
            background: -moz-linear-gradient(right, #F2892C, #FD9437);
            background: linear-gradient(to left, #F2892C, #FD9437);
        }

        .org-item-card .org-item-cardStats {
            background: white;
            border-radius: 12px;
            color: @HiveColors.Grey;
        }

</style>

<MudCard Class="org-item-card">
    <MudGrid>
        <MudItem xs="10">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.caption">Company</MudText>
                    <MudText Typo="Typo.h6" Class="text-bold">@Organization.Name</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class=@(Organization.Employees.Count > 1 ? " " : "d-flex flex-wrap ")>
                @{
                    string orgItemCardStatClasses = "my-2 mr-4 d-flex flex-column justify-center";
                    string iconStatClasses = "d-flex align-center";
                }
                <div class="@orgItemCardStatClasses">
                    <MudText Typo="Typo.h2">
                        <div class="@iconStatClasses">
                            <MudIcon Icon="@Icons.Filled.Book" Class="mr-2" />
                            @Organization.ProjectCount
                        </div>
                    </MudText>
                    <MudText>Projects</MudText>
                </div>
                <div class="@orgItemCardStatClasses">
                    <MudText Typo="Typo.h2">
                        <div class="@iconStatClasses">
                            <MudIcon Icon="@Icons.Filled.People" Class="mr-2" />
                            @Organization.Employees.Count
                        </div>

                    </MudText>
                    <MudText>Employees</MudText>
                </div>
            </MudCardContent>
        </MudItem>
        <MudItem xs="2" Class="d-flex align-center pa-2">
            <MudIcon Icon="@Icons.Outlined.ChevronRight" Class="org-item-viewIcon" />
        </MudItem>
    </MudGrid>
</MudCard>

@code {
    [Parameter]
    public OrganizationViewModel Organization { get; set; }
}