@page "/"
@page "/organizations"
@using Hive.Client.Shared.Constants

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<style>
    .text-bold {
        font-weight: 700;
    }

    .banner {
        height: 12.5vh;
        background: @Colors.Grey.Lighten4;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        margin-bottom: 1rem;
        border-radius: 8px;
    }

    .org-item-card {
        background: #FB8C29;
        background: -webkit-linear-gradient(right, #FB8C29, #FD9437);
        background: -moz-linear-gradient(right, #FB8C29, #FD9437);
        background: linear-gradient(to left, #FB8C29, #FD9437);
        color: white;
        border-radius: 12px;
        transition: all ease-in-out 0.3s;
    }

        .org-item-card:hover {
            background: #F2892C;
            background: -webkit-linear-gradient(right, #F2892C, #FD9437);
            background: -moz-linear-gradient(right, #F2892C, #FD9437);
            background: linear-gradient(to left, #F2892C, #FD9437);
        }

        .org-item-card .org-item-cardStats {
            background: white;
            border-radius: 12px;
            color: @HiveColors.Grey;
        }

    .org-item-viewIcon {
        transition: all ease-in-out 0.1s;
        transform: translateX(0);
    }

    .org-item:hover {
        cursor: pointer;
    }

        .org-item:hover .org-item-viewIcon {
            transform: translateX(4px);
        }
</style>

<AuthorizeView>
    <Authorized>
        <div class="banner">
            <MudAvatar Color="@Color.Secondary" Rounded="true" Class="mr-4">
                <MudIcon Icon="@Icons.Filled.Business" />
            </MudAvatar>
            <h1>Organizations</h1>
        </div>


        <div class="mb-8" style="width:100%;display:flex;">
            <MudTextField @bind-Value="@_searchText"
                          Label="Find an organization"
                          AdornmentIcon="@Icons.Outlined.Search"
                          Adornment="Adornment.Start"
                          Variant="Variant.Outlined"
                          Margin="Margin.Normal"
                          DebounceInterval="500"
                          Clearable="true" />
            <MudSpacer />
            <MudButton StartIcon="@Icons.Outlined.Add"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Size="Size.Small"
                       Class="ma-4">
                Add Organization
            </MudButton>
        </div>
        @if (OrganizationStateIsLoading)
        {
            <MudGrid xs="12" Spacing="2">
                @for (var i = 0; i < 4; i++)
                {
                    <MudItem lg="3" Style="width:25%;">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudSkeleton Width="25%" />
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="75px" />
                            </MudCardContent>
                            <MudCardActions>
                                <MudSkeleton Width="75%" />
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        }
        else if (!OrganizationStateIsLoading && Organizations.Count == 0)
        {
            <MudContainer Class="d-flex flex-column justify-center align-center" Style="min-height:30vh;">
                <MudText Typo="Typo.h2">@(!string.IsNullOrEmpty(_searchText) ? "No organizations matching your search" : "There aren't any organizations")</MudText>
                <MudText Typo="Typo.h3">Add one to see it here</MudText>
            </MudContainer>
        }
        else
        {
            <MudGrid xs="12" Spacing="2">
                @foreach (var org in Organizations)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3" Class="mb-4 org-item">
                        <MudCard Class="org-item-card">
                            <MudGrid>
                                <MudItem xs="10">
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.caption">Company</MudText>
                                            <MudText Typo="Typo.h6" Class="text-bold">@org.Name</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent Class=@(org.Employees.Count > 1 ? " " : "d-flex flex-wrap ")>
                                        @{
                                            string orgItemCardStatClasses = "my-2 mr-4 d-flex flex-column justify-center";
                                            string iconStatClasses = "d-flex align-center";
                                        }
                                        <div class="@orgItemCardStatClasses">
                                            <MudText Typo="Typo.h2">
                                                <div class="@iconStatClasses">
                                                    <MudIcon Icon="@Icons.Filled.Book" Class="mr-2" />
                                                    @org.ProjectCount
                                                </div>
                                            </MudText>
                                            <MudText>Projects</MudText>
                                        </div>
                                        <div class="@orgItemCardStatClasses">
                                            <MudText Typo="Typo.h2">
                                                <div class="@iconStatClasses">
                                                    <MudIcon Icon="@Icons.Filled.People" Class="mr-2" />
                                                    @org.Employees.Count
                                                </div>

                                            </MudText>
                                            <MudText>Employees</MudText>
                                        </div>
                                    </MudCardContent>
                                </MudItem>
                                <MudItem xs="2" Class="d-flex align-center pa-2">
                                    <MudIcon Icon="@Icons.Outlined.ChevronRight" Class="org-item-viewIcon" />
                                </MudItem>
                            </MudGrid>

                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        }
    </Authorized>
</AuthorizeView>

