@using Hive.Client.Services.Organizations
@using Hive.Shared.Organizations.QueryViewModels
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<style>
    .section-item-label {
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
    }

    .section-item-heading {
        font-weight: 700;
    }

    .projects-container {
        width: clamp(60%,80%,100%);
    }

    .project-card-heading {
        font-weight: 700;
    }
</style>

@if (IsDataLoading)
{
    <div class="d-flex flex-column align-center justify-center my-auto" style="height:60vh">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Class="mb-4" />
        <MudText>Getting Some Data...</MudText>
    </div>
}
else
{
    <MudText Typo="Typo.h3" GutterBottom="true" Class="mb-4 section-item-heading">About</MudText>
    <MudGrid Spacing="2">
        <MudItem xs="12" md="4" Class="d-flex align-center">
            <MudText Class="section-item-label" GutterBottom="false">name</MudText>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField @bind-Value="_organizationName"
                      Variant="Variant.Outlined"
                      Margin="Margin.Dense"
                      DebounceInterval="200"
                      OnDebounceIntervalElapsed="CheckDuplicateName"
                      Clearable="IsNameEdited()"
                      AdornmentIcon="@(IsSavable() ? Icons.Filled.Save : null)"
                      Adornment="Adornment.End"
                      OnAdornmentClick="UpdateOrganizationName"
                      Disabled="IsDataLoading"
                      OnClearButtonClick="ResetName" />
        </MudItem>
        <MudItem xs="12" md="2" Class="d-flex align-center">
            @if ((!IsNameEdited() || _isUniqueOrgName) && !string.IsNullOrEmpty(_organizationName) && !_isCheckingUniqueOrgName)
            {
                <MudIcon Icon="@Icons.Filled.CheckCircle" Color="Color.Success" />
            }
            else
            {
                <MudIcon Icon="@Icons.Filled.Error" Color="Color.Error" />
            }

            @if (_isCheckingUniqueOrgName)
            {
                <MudProgressCircular Size="@Size.Small" Color="Color.Info" Indeterminate="true" />
            }
        </MudItem>

        @if (!_isUniqueOrgName || IsNameFieldEmpty)
        {
            <MudItem md="4" Class="mt-n3"></MudItem>
            <MudItem md="6" Class="mt-n3">
                <MudText Color="Color.Error">@GetUpdateNameFieldErrorText()</MudText>
            </MudItem>
        }
    </MudGrid>
    <MudDivider Class="my-4" />
    <MudText Typo="Typo.h3" GutterBottom="true" Class="mb-4 section-item-heading">System Admin Information</MudText>
    <MudGrid>
        <MudItem xs="12" md="4" Class="d-flex align-top">
            <MudText Class="section-item-label" GutterBottom="false">owner</MudText>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudText Class="section-item-label" GutterBottom="false">@OrganizationSettingsVm.OwnerName</MudText>
            <MudText>@OrganizationSettingsVm.OwnerEmail</MudText>
        </MudItem>
    </MudGrid>
    <MudDivider Class="my-4" />
    <MudText Typo="Typo.h3" GutterBottom="true" Class="mb-4 section-item-heading">Projects</MudText>
    <div Class="projects-container">
        @if (!OrganizationSettingsVm.Projects.Any() || OrganizationSettingsVm.Projects == null)
        {
            <MudText>@OrganizationSettingsVm.Name does not have any projects.</MudText>
        }
        @foreach (var project in OrganizationSettingsVm.Projects)
        {
            <MudCard Outlined="true" Class="d-flex justify-between">
                <MudCardContent Class="d-flex align-center" Style="flex:1">
                    <MudAvatar Class="mr-4">@project.Name.First()</MudAvatar>
                    <div>
                        <MudText Class="project-card-heading">@project.Name</MudText>
                        <MudHidden IsHidden="@string.IsNullOrEmpty(project.Description)">
                            <MudText>@project.Description</MudText>
                        </MudHidden>
                    </div>
                </MudCardContent>
                <MudCardActions Class="px-4">
                    <MudIconButton Icon="@Icons.Outlined.Settings" />
                </MudCardActions>
            </MudCard>
        }
    </div>
}
