@using Hive.Client.Shared.Constants
@using MudBlazor.Utilities

<Fluxor.Blazor.Web.StoreInitializer />
<MudThemeProvider Theme="_appTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>

@code {
    static readonly string[] HeadingFonts = { "Montserrat", "Arial", "sans-serif" };
    static readonly string[] DefaultFonts = { "Nunito", "sans-serif" };

    readonly MudTheme _appTheme = new()
        {
            Palette = new Palette()
            {
                Primary = new MudColor(HiveColors.Orange),
                PrimaryDarken = HiveColors.OrangeDark,
                PrimaryLighten = HiveColors.OrangeLighten,
                PrimaryContrastText = new MudColor(HiveColors.White),
                TextPrimary = new MudColor(HiveColors.Grey),
                DrawerBackground = new MudColor(HiveColors.White),
                AppbarBackground = new MudColor(HiveColors.White)
            },
            Typography = new Typography()
            {
                Body1 = new Body1()
                {
                    FontFamily = DefaultFonts,
                },
                Body2 = new Body2()
                {
                    FontFamily = DefaultFonts
                },
                Button = new Button()
                {
                    FontFamily = DefaultFonts
                },
                H1 = new H1()
                {
                    FontFamily = HeadingFonts,
                    FontWeight = 700,
                    FontSize = "32px"
                },
                H2 = new H2()
                {
                    FontFamily = DefaultFonts,
                    FontWeight = 600,
                    FontSize = "24px"
                },
                H3 = new H3()
                {
                    FontFamily = DefaultFonts,
                    FontWeight = 500,
                    FontSize = "18px"
                },
            }
        };

}